@model QuickStart.WebUI.Models.ResultContactInfoDto

<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-widget">
                    <h3>Hakkımızda</h3>
                    <p>QuickStart AkademiQ ile geleceğe adım atın. En güncel teknolojilerle hazırlanmış eğitimler.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-widget">
                    <h3>İletişim</h3>
                    @if (Model != null)
                    {
                        <p><i class="fa fa-map-marker"></i> @Model.Address</p>
                        <p><i class="fa fa-phone"></i> @Model.Phone</p>
                        <p><i class="fa fa-envelope"></i> @Model.Email</p>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="footer-widget">
                    <h3>Bülten</h3>
                    <p>Güncellemeler için abone olun.</p>
                    <form class="subscribe-form">
                        <input type="email" placeholder="E-posta adresiniz">
                        <button type="submit">Abone Ol</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; @DateTime.Now.Year QuickStart. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>