@model List<QuickStart.WebUI.Models.ResultTestimonialDto>

<section class="testimonial-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Müşteri Yorumları</h2>
            <p>Öğrencilerimizin deneyimleri</p>
        </div>
        <div class="testimonial-slider owl-carousel">
            @foreach (var item in Model)
            {
                <div class="testimonial-item">
                    <div class="testimonial-content">
                        <p>"@item.Descriptions"</p>
                    </div>
                    <div class="testimonial-meta">
                        <h4>@item.FullName</h4>
                        <p>@item.Title</p>
                        <div class="rating">
                            @for (int i = 0; i < item.Rate; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>