@model QuickStart.WebUI.Dtos.Testionials.UpdateTestimonialDto
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="testimonialId" />
        <label>Ad Soyad</label>
        <input asp-for="fullName" class="form-control" />
        <br />
        <label>Ünvan</label>
        <input asp-for="title" class="form-control" />
        <br />
        <label>Yorum</label>
        <textarea asp-for="descriptions" class="form-control" rows="3"></textarea>
        <br />
        <label>Puan</label>
        <input asp-for="rate" class="form-control" />
        <br />
        <label>Resim Url</label>
        <input asp-for="imageUrl" class="form-control" />
        <br />
        <button class="btn btn-primary">Güncelle</button>
    </form>
</div>
