@model QuickStart.WebUI.Dtos.ContactInfos.UpdateContactInfoDto
@{
    ViewData["Title"] = "İletişim Bilgisi Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İletişim Bilgisi Güncelle</h4>
            <form class="forms-sample" method="post">
                <input type="hidden" asp-for="ContactInfoId" />
                <div class="form-group">
                    <label>Adres</label>
                    <input type="text" class="form-control" asp-for="Address">
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    <input type="text" class="form-control" asp-for="Phone">
                </div>
                <div class="form-group">
                    <label>E-Posta</label>
                    <input type="email" class="form-control" asp-for="Email">
                </div>
                <div class="form-group">
                    <label>Harita Konumu (Iframe URL)</label>
                    <textarea class="form-control" asp-for="MapLocation" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <a href="/ContactInfo/Index" class="btn btn-light">İptal</a>
            </form>
        </div>
    </div>
</div>
