@model QuickStart.WebUI.Dtos.NotificationType.CreateNotificationTypeDto
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <form method="post">
        <label>Ad</label>
        <input asp-for="Name" class="form-control" />
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </form>
</div>
