@model List<QuickStart.WebUI.Models.ResultNotificationTypeDto>
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NotificationTypeId</td>
                <td>@item.Name</td>
                <td><a href="/NotificationType/DeleteNotificationType/@item.NotificationTypeId" class="btn btn-danger">Sil</a></td>
                <td><a href="/NotificationType/UpdateNotificationType/@item.NotificationTypeId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/NotificationType/CreateNotificationType" class="btn btn-info">Yeni Tür</a>
</div>
