@model QuickStart.WebUI.Dtos.Chef.CreateChefDto
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <form method="post">
        <label>Ad Soyad</label>
        <input asp-for="FullName" class="form-control" />
        <br />
        <label>Ünvan</label>
        <input asp-for="Title" class="form-control" />
        <br />
        <label>Resim Url</label>
        <input asp-for="ImageUrl" class="form-control" />
        <br />
        <label>Instagram Url</label>
        <input asp-for="InstagramUrl" class="form-control" />
        <br />
        <label>LinkedIn Url</label>
        <input asp-for="LinkedinUrl" class="form-control" />
        <br />
        <label>X Url</label>
        <input asp-for="TwitterUrl" class="form-control" />
        <br />
        <label>Sıra</label>
        <input asp-for="Order" class="form-control" />
        <br />
        <label>Aktif mi?</label>
        <input asp-for="IsActive" class="form-check-input" />
        <br /><br />
        <button class="btn btn-primary">Kaydet</button>
    </form>
</div>
