@model List<QuickStart.WebUI.Models.ResultFeatureDto>

<section id="features" class="features section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Highlights</p>
    </div>

    <div class="container">
        <div class="row gy-4">
            @foreach (var item in Model ?? new List<QuickStart.WebUI.Models.ResultFeatureDto>())
            {
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="service-item d-flex">
                        <div class="icon flex-shrink-0"><i class="@item.Icon"></i></div>
                        <div>
                            <h4 class="title">@item.Title</h4>
                            <p class="description">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
