@model QuickStart.WebUI.Dtos.Notifications.CreateNotificationDto
@{
    ViewData["Title"] = "Yeni Bildirim Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Bildirim Ekle</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" class="form-control" asp-for="Title">
                </div>
                <div class="form-group">
                    <label>İçerik</label>
                    <textarea class="form-control" asp-for="Content" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label>Tür ID (#)</label>
                    <input type="number" class="form-control" asp-for="NotificationTypeId">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="IsRead">
                            Okundu olarak işaretle?
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a href="/Notification/Index" class="btn btn-light">İptal</a>
            </form>
        </div>
    </div>
</div>
