@model List<QuickStart.WebUI.Models.ResultServiceDto>

<section id="services" class="services section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>What we do</p>
    </div>

    <div class="container">
        <div class="row g-5">
            @foreach (var item in Model ?? new List<QuickStart.WebUI.Models.ResultServiceDto>())
            {
                <div class="col-lg-6" data-aos="fade-up">
                    <div class="service-item position-relative">
                        <i class="@item.IconUrl icon"></i>
                        <div>
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
