@*
    Admin Sidebar 
*@

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="index.html">
            <img src="/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo.svg" alt="logo" />
        </a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html">
            <img src="/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" />
        </a>
    </div>

    <ul class="nav">
        <!-- Profil -->
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/faces/face1.jpg" alt="profile" />
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">İlyas Sönmez</span>
                    <span class="font-weight-normal">Admin Panel</span>
                </div>
                <span class="badge badge-danger text-white ml-3 rounded">3</span>
            </a>
        </li>

        <!-- Anasayfa -->
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-view-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <!-- Hakkımızda -->
        <li class="nav-item">
            <a class="nav-link" href="pages/about/index.html">
                <i class="mdi mdi-information-outline menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>

        <!-- Hizmetler -->
        <li class="nav-item">
            <a class="nav-link" href="pages/services/index.html">
                <i class="mdi mdi-briefcase-outline menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>

        <!-- Müşteriler -->
        <li class="nav-item">
            <a class="nav-link" href="pages/customers/index.html">
                <i class="mdi mdi-account-multiple-outline menu-icon"></i>
                <span class="menu-title">Müşteriler</span>
            </a>
        </li>

        <!-- Özellikler -->
        <li class="nav-item">
            <a class="nav-link" href="pages/features/index.html">
                <i class="mdi mdi-star-outline menu-icon"></i>
                <span class="menu-title">Özellikler</span>
            </a>
        </li>

        <!-- İletişim -->
        <li class="nav-item">
            <a class="nav-link" href="pages/contact/index.html">
                <i class="mdi mdi-phone-outline menu-icon"></i>
                <span class="menu-title">İletişim</span>
            </a>
        </li>

        <!-- İstatistik -->
        <li class="nav-item">
            <a class="nav-link" href="pages/statistics/index.html">
                <i class="mdi mdi-chart-line menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>

        <!-- Mesajlar -->
        <li class="nav-item">
            <a class="nav-link" href="pages/messages/index.html">
                <i class="mdi mdi-email-outline menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>

        <!-- Dokümantasyon -->
        <li class="nav-item">
            <a class="nav-link" href="https://www.bootstrapdash.com/demo/breeze-free/documentation/documentation.html">
                <i class="mdi mdi-file-document-outline menu-icon"></i>
                <span class="menu-title">Dokümantasyon</span>
            </a>
        </li>

        <!-- Çıkış -->
        <li class="nav-item sidebar-actions">
            <div class="nav-link">
                <div class="mt-4">
                    <p class="text-black">Hesap</p>
                    <ul class="mt-4 pl-0">
                        <li>
                            <a href="/Logout" class="text-danger">
                                <i class="mdi mdi-logout"></i> Çıkış Yap
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>