@model List<QuickStart.WebUI.Models.ResultAboutDto>
@{
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AboutId</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a></td>
                <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/About/CreateAbout" class="btn btn-info">Yeni About</a>
</div>
