@model List<QuickStart.WebUI.Dtos.Abouts.ResultAboutDto>
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımızda (About) Yönetimi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.AboutId</td>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td><a href="/About/Delete/@item.AboutId" class="btn btn-danger">Sil</a></td>
                                <td><a href="/About/Edit/@item.AboutId" class="btn btn-success">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/About/Create" class="btn btn-primary">Yeni Ekle</a>
            </div>
        </div>
    </div>
</div>
